<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Онлайн запись</title>
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
<!--  <link rel="stylesheet" href="/css/add-appointment.css">-->
  <link rel="stylesheet" href="/css/appointment.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

<div class="center-div">

  <header class="header">
    <h2>Выбор времени</h2>
  </header>
  <form action="/appointments/new" method="get">
    <div class="space-for-schedule">

      <div class="schedule-in-day" >
        <tr th:each="entry:${schedule!=null ? schedule.entrySet() : null}">
          <div class="date-appointment"><p th:text="${entry.getKey()}"></p></div>
          <div class="times-appointments" >
            <div class="time" th:each="entryValue:${entry.getValue()}">
              <input type="checkbox" th:id="${entryValue.getDate()}"  th:value="${entryValue.getId()}" name="schedule">
              <div class="time-block">
                <p th:text="${entryValue.getDate().toLocalTime()}+'-'+${entryValue.getDate().toLocalTime().plusMinutes(30)}">10:00</p>
              </div>
            </div>
          </div>
        </tr>
      </div>
    </div>
    <input type="hidden" name="place" th:value="${place}">
    <button class="button">
      Продолжить
    </button>
  </form>
</div>
<script>
  let dates=document.querySelectorAll(".date-appointment")
  if(dates.length==0){
    document.querySelector(".button-select-schedules").innerHTML="<h3>Нет свободных окошек:(</h3>"
    document.querySelector(".button-select-schedules").style.height="auto";

  }
  var checkOpenDatesSchedules=new Array(dates.length);
  console.log(checkOpenDatesSchedules)
  for(let i=0;i<dates.length;i++){
    dates[i].addEventListener("click",func.bind(null, i),this)

  }
  function func (i, event) {
    block = event.currentTarget
    console.log(checkOpenDatesSchedules[i])
    if (!checkOpenDatesSchedules[i]) {
      block.nextElementSibling.style.display = "flex"
      block.style.backgroundColor = "rgba(40,40,40,0.7)"
      block.style.color = "white"
      block.style.fontWeight = "800"

      checkOpenDatesSchedules[i] = true
    } else {
      block.nextElementSibling.style.display = "none"
      block.style.backgroundColor = "white"
      block.style.color = "black"
      block.style.fontWeight = "400"

      checkOpenDatesSchedules[i] = false
    }
  }
  let timeBlocks=document.querySelectorAll(".time-block")

  for(let i=0;i<timeBlocks.length;i++){
    timeBlocks[i].onclick=function (){
      // alert(1)
      this.previousElementSibling.checked=!this.previousElementSibling.checked


    }

  }
</script>
</body>
</html>