<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Изменить пароль</title>
  <link rel="stylesheet" href="/css/admin.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
    .text-info{
      width: 80%;
    }
    h2{
      text-align: center;
    }
    .error-password-new,.error-password-old{
      display: none;
    }


  </style>
</head>
<body>
<header>
  <div class="container">
    <div class="div-img">
      <a href="/">
        <img  src="/img/femood.png">
      </a>
    </div>
    <div class="name-page">
      <p>Изменение пароля</p>
    </div>
    <div class="menu-burger">
      <div class="before"></div>
      <div class="center"></div>
      <div class="after"></div>
    </div>


  </div>
</header>
<div class="main">
  <aside class="aside">
    <div class="container">
      <div class="navigation">
        <ul>
          <li >
            <a href="/admin">Профиль</a>
          </li>
          <li class="current">
            <a href="/admin/password/change">Изменить пароль</a>
          </li>
          <li >
            <a href="/schedule/actual">Актуальные записи</a>
          </li>
          <li>
            <a href="/schedule/actual">Старые записи</a>
          </li>
          <li>
            <a href="/places">Цены</a>
          </li>
          <li>
            <a th:if="${superadmin}" href="/admin/users">Пользователи</a>
          </li>
          <li>
            <a  href="/logout">Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>

  <div class="profile-container">
    <div class="change-password" id="change-password">
      <div class="text-info">
        <h2>Изменение пароля</h2>
        <form method="post" action="/admin/change/password">
          <div class="password_old">
            <label for="password_old">Введите свой пароль</label>
            <input type="password" name="passwordOld" id="password_old" th:value="${passwordOld}">
            <p class="error-password-old" style="color:red;" th:text="${errorPasswordOld}"></p>
          </div>
          <div class="password_old">
            <label for="password_new">Новый пароль</label>
            <input class="password-new" type="password" th:value="${PasswordNew}" name="passwordNew" id="password_new">
          </div>
          <div class="password_old">
            <label for="password_new2">Повторите новый пароль</label>
            <input class="password-new2" type="password" th:value="${PasswordNew2}"  name="passwordNew2" id="password_new2" >
            <p class="error-password-new" style="color:red;" th:text="${errorPasswordNew}"></p>
          </div>

          <button>Сохранить</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/admin.js"></script>

</body>
</html>