<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Feemod</title>
  <meta name="description" content="Fe’mood - aesthetic place for u beauty - коворкинг в центре Минска">
  <link rel="stylesheet" href="/css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
<header class="header">
  <div class="container-header">
    <div  class="logotip">
      <img  src="/img/femood.png">
    </div>
    <nav class="navigation">
      <ul>
        <li>
          <a href="/#about-us">О НАС</a>
        </li>
        <li>
          <a href="/#price-list">Цены</a>
        </li>
        <li>
          <a href="/#photos">Фотографии</a>
        </li>

        <li>
          <a href="/#contacts"> Контакты</a>
        </li>
        <li>
          <a href="/appointments/new">Записаться</a>
        </li>
      </ul>

<!--      <div class="profile">-->

<!--      </div>-->

    </nav>
    <div class="menu-burger">
      <div class="before"></div>
      <div class="center"></div>
      <div class="after"></div>
    </div>
  </div>
</header>

<div class="main-photo">
  <img class="img1" src="/img/IMG_2054.JPG">
  <img class="img2" src="/img/IMG_2041.JPG">
  <img class="img3"  src="/img/IMG_2055%20(1).JPG">
  <div class="back">
    <img src="/img/фемуддд.png">
  </div>
</div>
<div class="online-registration">
  <a href="/appointments/new">
   <p>
    ONline
     <br>

     запись
    </p>
  </a>
</div>
<main>
  <div class="about-us" id="about-us">
    <div class="container">
      <div class="block-text">
        <p class="text">
          Почему мы?<br>
          <span>Немного о нас:</span>
        </p>
      </div>
      <div class="block">
        <div class="img">
          <img src="/img/IMG_5642.JPG">
        </div>
        <div class="description">
          <p class="description-text">
            Места для визажистов и бровистов: удобные столы с отдельными полками для ваших вещей, мягкие комфортные стулья, место для сумочки вашего клиента.
            <br>
            <br>

            А также расходные материалы
          </p>
        </div>
      </div>
      <div class="block">
        <div class="img">
          <img src="/img/IMG_3666.JPG">
        </div>
        <div class="description">
          <p class="description-text">
            Зона парикмахеров-стилистов: cтильное и комфортное место для вас и ваших клиентов, качественное и удобное кресло, большое зеркало с подсветкой, тележка для ваших инструментов и материалов, коврик для горячих инструментов, мойка для головы, color-bar, одноразовое полотенце
          </p>
        </div>
      </div>
      <div class="block">
        <div class="img">
          <img src="/img/IMG_5672.JPG">
        </div>
        <div class="description">
          <p class="description-text">
            В нашем пространстве вы всегда можете обратиться на зону ресепшена, где администратор поможет решить ваш вопрос

          </p>
        </div>
      </div>

      <div class="block">
        <div class="img">
          <img src="/img/IMG_5639.JPG">
        </div>
        <div class="description">
          <p class="description-text">
            При входе находится удобная зона ожидания для вас и ваших клиентов, где вы спокойно можете выпить чай или другие напитки из нашего меню

          </p>
        </div>
      </div>

      <div class="block">
        <div class="img">
          <img src="/img/IMG_3671.JPG">
        </div>
        <div class="description">
          <p class="description-text">
            Для качественных снимков в нашем пространстве есть несколько источников света:
            <br>
            • кольцевые лампы
            <br>
            • видеосвет
            <br>
            • светоотражатель
          </p>
        </div>
      </div>


    </div>
  </div>
  <h3 id="price-list">PRICE LIST</h3>

  <div class="price-list">
    <div class="price-img">
      <img src="/img/прс1.png">
      <img src="/img/прс2.png">
    </div>

  </div>

<!--  <div class="about-us">-->
<!--    <div class="container">-->
<!--      <div class="block-text">-->
<!--        <p class="text">-->
<!--          Почему мы?<br>-->
<!--          <span>Немного о нас:</span>-->
<!--        </p>-->
<!--      </div>-->
<!--      <div class="block">-->
<!--        <div class="img">-->
<!--          <img src="parik.png">-->
<!--        </div>-->
<!--        <div class="description">-->
<!--          <p class="description-text">-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="block">-->
<!--        <div class="img">-->
<!--          <img src="parik.png">-->
<!--        </div>-->
<!--        <div class="description">-->
<!--          <p class="description-text">-->
<!--            Мы бьюти коворкинг и у вас очень крутые места для визажистов-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и у вас очень крутые места для визажистов-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="block">-->
<!--        <div class="img">-->
<!--          <img src="parik.png">-->
<!--        </div>-->
<!--        <div class="description">-->
<!--          <p class="description-text">-->
<!--            Мы бьюти коворкинг и у вас очень крутые места для парикмахеров-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и у вас очень крутые места для парикмахеров-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="block">-->
<!--        <div class="img">-->
<!--          <img src="parik.png">-->
<!--        </div>-->
<!--        <div class="description">-->
<!--          <p class="description-text">-->
<!--            Мы бьюти коворкинг и у вас очень крутая атмосфера-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и у вас очень крутая атмосфера-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="block">-->
<!--        <div class="img">-->
<!--          <img src="parik.png">-->
<!--        </div>-->
<!--        <div class="description">-->
<!--          <p class="description-text">-->
<!--            Мы бьюти коворкинг и у нас есть фотозона-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--            Мы бьюти коворкинг и у нас есть фотозона-->
<!--            Мы бьюти коворкинг и мы очень крутые-->
<!--          </p>-->
<!--        </div>-->
<!--      </div>-->


<!--    </div>-->
<!--  </div>-->
<!--    <div class="about-us">-->
<!--      <div class="container">-->
<!--        <div class="block-text">-->
<!--          <p class="text">-->
<!--            Почему мы?-->
<!--            <span>Немного о нас:</span>-->
<!--          </p>-->
<!--        </div>-->
<!--        <div class="block">-->
<!--          <div class="img">-->
<!--            <img src="block_us.jpg">-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            <p class="description-text">-->
<!--              Мы бьюти коворкинг и мы очень крутые-->
<!--              Мы бьюти коворкинг и мы очень крутые-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="block-right">-->
<!--          <div class="img">-->
<!--            <img src="block_vis.jpg">-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            <p class="description-text">-->
<!--              Мы бьюти коворкинг и у вас очень крутые места для визажистов-->
<!--              Мы бьюти коворкинг и мы очень крутые-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="block">-->
<!--          <div class="img">-->
<!--            <img src="block_paril.jpg">-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            <p class="description-text">-->
<!--              Мы бьюти коворкинг и у вас очень крутые места для парикмахеров-->
<!--              Мы бьюти коворкинг и мы очень крутые-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="block-right">-->
<!--          <div class="img">-->
<!--            <img src="block_atm.jpg">-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            <p class="description-text">-->
<!--              Мы бьюти коворкинг и у вас очень крутая атмосфера-->
<!--              Мы бьюти коворкинг и мы очень крутые-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="block">-->
<!--          <div class="img">-->
<!--            <img src="block_photo.jpg">-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            <p class="description-text">-->
<!--              Мы бьюти коворкинг и у нас есть фотозона-->
<!--              Мы бьюти коворкинг и мы очень крутые-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->


<!--      </div>-->
<!--    </div>-->
  <h3>Фотографии</h3>
  <div class="gallery" id="photos">
    <div class="container">
      <div class="img" id="first">
        <img src="/img/IMG_5635.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_5642.JPG">
      </div>
      <div class="img">
        <img  src="/img/IMG_5643.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_5640.JPG">
      </div>
      <div class="img">
        <img  src="/img/IMG_5639.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_5670.JPG">
      </div>
      <div class="img">
           <img src="/img/IMG_3671.JPG">

      </div>
      <div class="img">
        <img src="/img/IMG_3672.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_5674.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_3670.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_5672.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_3669.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_0419.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_0420.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_5671.JPG">
      </div>
      <div class="img">
        <img src="/img/IMG_0418.JPG">
      </div>
    </div>
  </div>


</main>
<footer class="contacts" id="contacts">
  <div class="contact">
    <div class="navigation-footer">
      <p class="text-nav">Сайт</p>
      <ul>
        <li>
          <a href="/#about-us">О НАС</a>
        </li>
        <li>
          <a href="/#price-list">Цены</a>
        </li>
        <li>
          <a href="/#photos">Фотографии</a>
        </li>

        <li>
          <a href="/#contacts">Записаться</a>
        </li>
        <br>
        <li>
          <a href="https://instagram.com/artem.vlastyuk">Разработано</a>
        </li>
      </ul>
    </div>
    <div class="contact-footer">
      <p class="text-nav">Контакты</p>
      <div class="container-for-contacts">
        <div class="soc-net">
        <ul>
          <li>
            <a href="tel: +375447134592">+375 44 713 4592</a>
          </li>
          <li>
            <a href="mail-to: liberty.house@mail.ru">liberty.house@mail.ru</a>
          </li>

        </ul>

          <div class="social-network">
            <div class="inst">
              <a href="https://instagram.com/femood_place">
                <img src="/img/inst.png">
              </a>
            </div>
<!--            <div class="tg">-->
<!--              <a href="https://t.me/sviattseva">-->
<!--                <img src="/img/tg6.png">-->
<!--              </a>-->
<!--            </div>-->
<!--            <div class="tg">-->
<!--              <a href="https://t.me/sviattseva">-->
<!--                <img src="/img/tg6.png">-->
<!--              </a>-->
<!--            </div>-->

          </div>


        </div>
      </div>



    </div>
    <div class="map">
      <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/157/minsk/?utm_medium=mapframe&amp;utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a><a href="https://yandex.ru/maps/157/minsk/house/Zk4YcwJjSUMDQFtpfXR4dHprYA==/?ll=27.552777%2C53.895596&amp;utm_medium=mapframe&amp;utm_source=maps&amp;z=17.45" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Карла Маркса, 6 — Яндекс&nbsp;Карты</a><iframe src="https://yandex.ru/map-widget/v1/?ll=27.552777%2C53.895596&amp;mode=whatshere&amp;whatshere%5Bpoint%5D=27.553076%2C53.895601&amp;whatshere%5Bzoom%5D=17&amp;z=17.45" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
  </div>
  <div class="femood-logo">
    <img src="/img/фемуддд.png">

  </div>
  <div class="carousel">
    <div class="left-arrow">
      <div class="arrow">

      </div>
    </div>
    <div class="imgs">
      <div class="container">
        <div class="img" >
          <img src="/img/IMG_5635.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_5642.JPG">
        </div>
        <div class="img">
          <img  src="/img/IMG_5643.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_5640.JPG">
        </div>
        <div class="img">
          <img  src="/img/IMG_5639.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_5670.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_3671.JPG">

        </div>
        <div class="img">
          <img src="/img/IMG_3672.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_5674.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_3670.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_5672.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_3669.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_0419.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_0420.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_5671.JPG">
        </div>
        <div class="img">
          <img src="/img/IMG_0418.JPG">
        </div>
      </div>

    </div>
    <div class="exit">
      <div></div>
    </div>
    <div class="right-arrow">
      <div class="arrow">

      </div>
    </div>
  </div>
  <script src="/js/index.js">

  </script>
</footer>
</body>
</html>